
/*Font: Josefin Sans googlefonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,300&display=swap');


@media only screen and (max-width: 390px) {
 
    body {
        display: flex;
        justify-content: center;

    }

    #logoathena {
        align-items: flex-start;
        width: 202px;
        height: 109px;
        margin: 25%;
    }

    .area-login {
        box-sizing: 344px 293px;
        background-color: #F5D088;
        align-items: center;
        margin: auto;
        
    }

    .iconsocial {
        width: 29px;
        height: 29px;
        align-items: flex-end;
    }
}


