@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,300&display=swap');



@media only screen and (max-width: 390px) {

  /* CSS DISPLAY GRID CONFIG*/

body {
    background-color: #EBEBEB;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.logo-menu{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

#logo-athena {
    margin-top: 15px;
    margin-left: 40px;
    height: 115px;
  }

.menus {
    margin-top: 50px;
  }

#menu {
    margin: 0%;
    margin-right: 25px;
    height: 40px;
    width: 40px;
    background-color: white;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgb(192, 192, 192);
  }

#carrinho {
    margin-right: 15px;
    height: 40px;
    width: 40px;
    background-color: #FFB74A;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgb(192, 192, 192);
  }

#carrinho-icon {
  margin: 0%;
  height: 25px;
  margin-top: 5px;
}

#menu-icon {
  margin: 0%;
  height: 25px;
  margin-top: 5px;
}

#lupa-icon {
  margin: 0%;
  height: 25px;
  margin-top: 2px;
}

#txtbusca {
    width: 275px;
    height: 35px;
    border-radius: 8px;
    margin-left: 25px;
    box-shadow: 0px 5px 10px rgb(192, 192, 192);
    border: 0px;
  }

.div-busca{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

.pesquisar {
    margin-right: 25px;
    width: 40px;
    height: 40px;
    background-color: #FFB74A;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgb(192, 192, 192);
  }

.categorias{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
  }

#navb{
  border: 2px;
  border-style: solid;
  border-color: #b48339;
  background-color: #FFB74A;
  width: 80px;
  height: 25px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgb(192, 192, 192);
}

.destaques {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#txt-destaque {
  margin-bottom: 15px;
  margin-right: 220px;
  font-size: 150%;
  font-weight: bolder;
}

.produto {
  width: 280px;
  height: 300px;
  background-color: grey;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgb(192, 192, 192);
}

#mochila {
  width: 280px;
  height: 250px;
  border-radius: 8px;
  position: absolute;
}

.base-produto {
  height: 100px;
  width: 280px;
  background-color: white;
  margin: 0%;
  margin-top: 200px;
  border-radius: 8px;
  position: absolute;
}

.nome-produto {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.avaliacao {
  margin-left: 10px;
}

.preco-produto {
  margin-top: 10px;
  padding-left: 10px;
  color: #639C4F;
  font-weight: bolder;
}

.bx-produtos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#txt-descobertas {
  margin-top: 20px;
  margin-right: 200px;
  font-size: 150%;
  font-weight: bolder;
}

#txt {
  margin-top: 20px;
  margin-right: 255px;
  font-weight: bolder;
}

.produto-1 {
  width: 180px;
  height: 220px;
  background-color: grey;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgb(192, 192, 192);
}

#uniforme {
  height: 125px;
  margin-left: 30px;
  position: absolute;
}

.base-produto-1 {
height: 90px;
width: 180px;
background-color: white;
margin: 0%;
margin-top: 130px;
border-radius: 8px;
position: absolute;
}

.sequencia {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.um {
  margin-right: 15px;
}

#lapis {
  height: 125px;
  margin-top: 10px;
  margin-left: 30px;
  position: absolute;
}

#linha {
  margin-top: 20px;
  width: 340px;
}

.oq-athena {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.txt-athena {
  background-color: #FFB74A;
  margin-top: 10px;
  width: 280px;
  height: 35px;
  box-shadow: 0px 5px 10px rgb(192, 192, 192);
  text-align: center;
  border-radius: 10px;
}

#txt-athena {
  font-size: 140%;
  font-weight: bolder;
  margin-top: 5px;
}

#explicacao {
  text-align: center;
  font-size: 80%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.cx-atendimento {
  width: 115px;
  height: 200px;
  background-color: #FFB74A;
  margin-right: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(192, 192, 192);
}

#balao-icon {
  margin-top: 10px;
  width: 35px;
}

#txt-atendimento {
  font-weight: bold;
  font-size: 90%;
}

#txt-atendimento-1 {
  font-size: 90%;
  padding: 20px;
}

.cx-entregas {
  width: 115px;
  height: 200px;
  background-color: white;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(192, 192, 192);
}

#truck {
  margin-top: 10px;
  width: 35px;
}

#txt-entregas {
  font-weight: bold;
  font-size: 90%;
}

#txt-entregas-1 {
  font-size: 90%;
  padding: 10px;
}

.cx-produto {
  width: 115px;
  height: 200px;
  background-color: #FFB74A;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(192, 192, 192);
}

#box-icon {
  margin-top: 10px;
  width: 35px;
}

#txt-produto {
  font-weight: bold;
  font-size: 90%;
}

#txt-produto-1 {
  font-size: 90%;
  padding: 20px;
}


footer {
  background-color: #FFB74A;
  margin-top: 40px;
}

#linha-f{
  width: 340px;
  border-color: rgba(0, 0, 0, 0.747);
}

footer h2{
  margin-left: 20px;
  margin-top: 20px;
  font-weight: bold;
}

#icon-f {
  margin-left: 20px;
  width: 29px;
  margin-top: 20px;
  margin-bottom: 10px;
}

}