@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,300&display=swap');



@media only screen and (max-width: 390px) {

  /* CSS DISPLAY GRID CONFIG*/

body {
    background-color: #EBEBEB;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.logo-menu{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

#logo-athena {
    margin-top: 15px;
    margin-left: 25px;
    height: 115px;
  }

.menus {
    margin-top: 50px;
  }

#menu {
    margin: 0%;
    margin-right: 25px;
    height: 40px;
    width: 40px;
    background-color: white;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgb(192, 192, 192);
  }

#carrinho {
    margin-right: 15px;
    height: 40px;
    width: 40px;
    background-color: #FFB74A;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgb(192, 192, 192);
  }

#txtbusca {
    width: 275px;
    height: 35px;
    border-radius: 8px;
    margin-left: 25px;
    box-shadow: 0px 5px 10px rgb(192, 192, 192);
    border: 0px;
  }

.div-busca{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

.pesquisar {
    margin-right: 25px;
    width: 40px;
    height: 40px;
    background-color: #FFB74A;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgb(192, 192, 192);
  }

.categorias{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
  }

#navb{
  border: 2px;
  border-style: solid;
  border-color: #b48339;
  background-color: #FFB74A;
  width: 80px;
  height: 25px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgb(192, 192, 192);
}

.destaques {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#txt-destaque {
  margin-bottom: 15px;
  margin-right: 220px;
  font-size: 150%;
  font-weight: bolder;
}

.produto {
  width: 280px;
  height: 300px;
  background-color: grey;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgb(192, 192, 192);
}

.base-produto {
  height: 100px;
  background-color: white;
  margin: 0%;
  margin-top: 185px;
  border-radius: 8px;
}

.nome-produto {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.avaliacao {
  margin-left: 10px;
}

.preco-produto {
  margin-top: 10px;
  padding-left: 10px;
  color: #639C4F;
  font-weight: bolder;
}

}