@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,300&display=swap');

@media only screen and (max-width: 390px) {
    body{
        max-width: 390px;
            max-height: 800px;
            background-color: #fafafa;
    }


body,main,h6{
    font-family: 'Josefin Sans', sans-serif;
    color: #181818;;
}

body main {
    display: block;
    margin: auto 0px;
}


body header img {
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin: 0px auto;
    
    
}

#escrita {
    border-radius: 8px;
    max-width: 311px;
    max-height: 45px;
    width: 290px;   
    height: 35px;
    border: 0px;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    outline: 0px;
    color: #707070;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fafafa;
    
} 





main div{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    margin: 10%;
    color: #181818;
}



main:nth-child(2) {
    height: 500px;
    max-width: 390px;
    background-color: #f6d088;
    border-radius: 30px 30px 0px 0px;
    transform: translate(0px, -50px);
}


main h2{
    font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: xx-large;
        margin: 10%;
        color: #181818;
        transform: translate( 0px, 30px  );
}





#button{
    border-radius: 15px;
    max-width: 327px;
    max-height: 45px;
    width: 311px;
    height: 35px;
    outline: 0px;
    border: 0px;
    color: #fafafa;
    background-color: #181818;
    font-family: 'Josefin Sans', sans-serif;
    transform: translate(40px, 0px);
    font-size: medium;
   
}

#google {
    max-width: 35px;
    max-height: 35px;
    transform: translate(100px);
    margin: 0px;
    

}

#facebook {
    max-width: 35px;
    max-height: 35px;
    transform: translatep( 100px, 50px );
    margin: 0px;
    

}

#termos {
    margin: auto 0px;
    transform: translate(30px, -15px);
    font-family: 'Josefin Sans', sans-serif;
}


main {
    display: block;
    margin: auto 0px;
}

#termos {
    margin: auto 0px;
    transform: translate(30px, -15px);
    font-family: 'Josefin Sans', sans-serif;
}


}

@media only screen and (min-width: 391px ) {
    body{
        display: none;
    }
}



