body{
    
    max-width: 380px;
}

header{
    background-color: #EDEDED;
    max-height: 100px;
}


body header a img {
    max-width: 250px;
    max-height: 250px;
}

#compras {
    background-color: #f6d088;
    outline: 0px;
    border: 0px;
    border-radius: 8px;
    width: 35px;
    height: 35px;
    margin: 3px;
    box-shadow: 0px 4px 8px #dfdfdf;
}

#menu {
    background-color: white;
    outline: 0px;
    border: 0px;
    border-radius: 8px;
    width: 35px;
    height: 35px;
    margin: 3px;
    box-shadow: 0px 4px 8px #dfdfdf;
}

