<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Area Cadastro</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/stylecadastro.css">
</head>
<body>
    <header>

        <div class="container">

        <img src="img/logo_preta.png" alt="logo athena" id="logo-athena">
    </header>

    <main>
       
        <div class="area-login">

            <h2>Cadastro</h2>

            <form method="post" action="/cadastro">

                <div class="nome">
                    <input type="text" name="Nome" id="escrita" value="Nome" onfocus="this.value='';">
                </div>   

                <div class="email">
                    <input type="text" name="E-mail" id="escrita" value="E-mail" onfocus="this.value='';">
                </div>

                <div class="senha">
                    <input type="text" name="Senha" id="escrita" value="Senha" onfocus="this.value='';">
                </div>

                <div class="confirmar-senha">
                    <input type="text" name="Confirmar" id="escrita" value="Confirmar senha" onfocus="this.value='';">
                </div>
            
            <div class="termos">
                <input type="checkbox" id="box">
                <h2> Concordo com os <a href="">termos de serviço</a>. </h2>
            </div>

            <a href="index">
                <input type="submit" value="Cadastrar-se" id="button">
            </a>
            </div>
        </div>

        </form>

        <div class="icones">
            <img src="img/google.png" alt="logo-google" id="google">
            <img src="img/facebook.png" alt="logo-facebook" id="facebook">
        </div>

    </main>

</body>
</html>