<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carteira Digital</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/stylecarteira.css">
</head>
<body>
    <header>
        <input type="button" value="" id="voltar">
        <h1>Carteira</h1>
        <input type="button" value="" id="menu">
    </header>
    <main>
        <div>
            <img src="SimbCart.png" alt="">
            <p>CARD NUMBER</p>
            <p>0000 0000 0000 0000</p>
            <p>YOUR NAME</p>
            <p>08/22</p>
            <p>CVC</p>
            <p>123</p>
        </div>
        <div>
            <img src="SimbCart.png" alt="">
            <img src="Mais.png" alt="">
            <p>CARD NUMBER</p>
            <p>0000 0000 0000 0000</p>
            <p>YOUR NAME</p>
            <p>08/22</p>
            <p>CVC</p>
            <p>123</p>
        </div>
        <h2>Histórico</h2>
        <p>Histórico não encontrado</p>
    </main>
</body>
</html>