<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurações</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styleconfig.css">
</head>
<body>
    <header>
        <input type="button" value="" id="voltar">
        <h1>Configurações</h1>
        <input type="button" value="" id="menu">
    </header>
    <main>
        <h5>Minha conta</h5>
        <div>
            <p>Meu perfil</p>
            <img src="Seta.png" alt="">
        </div>
        <div>
            <p>Meus endereços</p>
            <img src="Seta.png" alt="">
        </div>
        <h5>Definições</h5>
        <div>
            <p>Configurações do Chat</p>
            <img src="Seta.png" alt="">
        </div>
        <div>
            <p>Configurações de privacidade</p>
            <img src="Seta.png" alt="">
        </div>
        <div>
            <p>Idioma/Language</p>
            <img src="Seta.png" alt="">
            <p>Português Brasil</p>
        </div>
    </main>
</body>
</html>