<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Athena Shop - home</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styleindex.css">
</head>
<body>
    <header>
        <a href="login">
            <img src="img/logoathenapreta.png" alt="logo-athena">
        </a>
        <input type="button" value="" id="menu">
        <input type="button" value="" id="compras">  
        <div id="divBusca">
            <img src="" alt="Buscar..."/>
            <input type="text" id="txtBusca" placeholder="Procurando alguma coisa?" />
            <input type="button" id="buscar" value=""> 
          </div>
          
          
        <nav id="navegacao">
            <input type="button" value="Para você" id="navb">
            <input type="button" value="Uniformes" id="navb">
            <input type="button" value="Materiais" id="navb">
            <input type="button" value="Ultensílios" id="navb">
        </nav>
    </header>
    <main>
        <h2>Destaques</h2>
        <div class="container">
            <div class="scrool">
                <a href="produto">
                    <div class="mochila">
                        <h3>bolsa preta exemplo</h3>
                        <h3>R$150</h3>
                        <img src="img/Mochila_preta.png" alt="Mochila">
                    </div>
                </a>
                <a href="produto">
                    <div class="uniforme">
                        <h3>Uniforme de exemplo</h3>
                        <h3>R$150</h3>
                        <img src="img/Uniforme.png" alt="Mochila">
                    </div>
                </a>
                <a href="produto">
                    <div class="lapis">
                        <h3>Caneta de exemplo</h3>
                        <h3>R$150</h3>
                        <img src="img/Lapis-removebg-preview.png" alt="Mochila">
                    </div>
                </a>
            </div>
        </div>
        <h2>Principais</h2>
        <div class="carrossel-uniformes">
            <h3 class="uniformes" >Uniformes</h3>
            <img src="" alt="fundo-uniformes">
            <div class="camiseta">
                <div></div>
                <h3>R$100</h3>
                <img src="img/Uniforme.png" alt="camiseta">
            </div>
            <div class="camiseta">
                <div></div>
                <h3>R$100</h3>
                <img src="img/Uniforme.png" alt="camiseta">
            </div>
            <div class="camiseta">
                <div></div>
                <h3>R$100</h3>
                <img src="img/Uniforme.png" alt="camiseta">
            </div>
            <div class="camiseta">
                <div></div>
                <h3>R$100</h3>
                <img src="img/Uniforme.png" alt="camiseta">
            </div>
            <div class="camiseta">
                <div></div>
                <h3>R$100</h3>
                <img src="img/Uniforme.png" alt="camiseta">
            </div>
            <div class="camiseta">
                <div></div>
                <h3>R$100</h3>
                <img src="img/Uniforme.png" alt="camiseta">
            </div>
        </div>

        <div class="carrossel-uniformes">
            <h3 class="materiais">Materiais Escolares</h3>
            <img src="" alt="fundo-uniformes">
            <div class="caderno">
                <div></div>
                <h3>R$100</h3>
                <img src="" alt="caderno">
            </div>
            <div class="caderno">
                <div></div>
                <h3>R$100</h3>
                <img src="" alt="caderno">
            </div>
            <div class="caderno">
                <div></div>
                <h3>R$100</h3>
                <img src="" alt="caderno">
            </div>
            <div class="caderno">
                <div></div>
                <h3>R$100</h3>
                <img src="" alt="caderno">
            </div>
            <div class="caderno">
                <div></div>
                <h3>R$100</h3>
                <img src="" alt="caderno">
            </div>
            <div class="caderno">
                <div></div>
                <h3>R$100</h3>
                <img src="" alt="caderno">
            </div>
        </div>

        <div class="carrossel-uniformes">
            <h3 class="utensilios">Ultensílios</h3>
            <img src="" alt="fundo-uniformes">
            <div class="mochila">
                <div></div>
                <h3>R$100</h3>
                <img src="" alt="mochila">
            </div>
            <div class="mochila">
                <div></div>
                <h3>R$100</h3>
                <img src="" alt="mochila">
            </div>
            <div class="mochila">
                <div></div>
                <h3>R$100</h3>
                <img src="" alt="mochila">
            </div>
            <div class="mochila">
                <div></div>
                <h3>R$100</h3>
                <img src="" alt="mochila">
            </div>
            <div class="mochila">
                <div></div>
                <h3>R$100</h3>
                <img src="" alt="mochila">
            </div>
            <div class="mochila">
                <div></div>
                <h3>R$100</h3>
                <img src="" alt="mochila">
            </div>
        </div>
        <br>
    </main>
    <footer>
        <br>
        <div>
            <h4>Inserir copyright quando nós tivermos kkk</h4>
            <a href=""> <h4>Contato suporte</h4> </a>
            <a href=""> <h4>Fornecedores</h4> </a>
            <a href=""> <h4>Termos e condições</h4> </a>
            <a href=""> <h4>Ajuda</h4> </a>
        </div>
    </footer>
</body>
</html>