<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Athena Shop - home</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styleindex.css">
</head>
<body>
    <header>
        <a href="login">
            <img src="img/logoathenapreta.png" alt="logo-athena">
        </a>
        <input type="button" value="" id="menu">
        <input type="button" value="" id="compras">  
        <div id="divBusca">
            <img src="" alt="Buscar..."/>
            <input type="text" id="txtBusca" placeholder="Procurando alguma coisa?" />
            <input type="button" id="buscar" value=""> 
          </div>
          
          
        <nav id="navegacao">
            <input type="button" value="Para você" id="navb">
            <input type="button" value="Uniformes" id="navb">
            <input type="button" value="Materiais" id="navb">
            <input type="button" value="Ultensílios" id="navb">
        </nav>
    </header>
    <main>
        
    </main>
    <footer>
        <br>
        <div>
            <h4>Inserir copyright quando nós tivermos kkk</h4>
            <a href=""> <h4>Contato suporte</h4> </a>
            <a href=""> <h4>Fornecedores</h4> </a>
            <a href=""> <h4>Termos e condições</h4> </a>
            <a href=""> <h4>Ajuda</h4> </a>
        </div>
    </footer>
</body>
</html>