<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Athena Shop - home</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styleindex.css">
</head>
<body>
    <header>

    <div class="logo-menu">

        <a href="login">
            <img src="img/logo_preta.png" alt="logo-athena" id="logo-athena">
        </a>

        <div class="menus">
            <button id="carrinho">
                <img src="img/carrinho-icon.png" alt="carrinho" id="carrinho-icon">
            </button>

            <button id="menu">
                <img src="img/menu.png" alt="menu" id="menu-icon">
            </button>
        </div>
    </div>

        <div class="div-busca">

            <input type="text" id="txtbusca" placeholder="Procurando alguma coisa?" />
            
            <button class="pesquisar">
                <img src="img/lupa.png" alt="lupa" id="lupa-icon">
            </button>
        </div>
          
    <div class="categorias">
        
        <nav id="navegacao">

                <input type="button" value="Para você" id="navb">

                <input type="button" value="Uniformes" id="navb">

                <input type="button" value="Materiais" id="navb">

                <input type="button" value="Ultensílios" id="navb">

        </nav>

    </div>

    </header>
    <main>
    
    <div class="destaques">
    
        <h2 id="txt-destaque">Destaques</h2>

        <div class="produto">
        <section>
            <img src="img/mochila.png" alt="Mochila" id="mochila">

            <div class="favoritar">

            </div>

            <div class="base-produto">
                <p class="nome-produto">Mochila</p>

                <div class="avaliacao">
                    <img src="img/avaliacao.png" alt="avalizaçao" id="avaliacao">
                    (1423)
                </div>
                <p class="preco-produto">R$119,90</p>
            </div>
        </section>
        </div>

    </div>

    <div class="bx-produtos">
        
            <h2 id="txt-descobertas">Descobertas</h2>

            <h4 id="txt">Uniformes</h4>

        <div class="sequencia">

        <div class="um">

            <div class="produto-1">
                <section>
                    <img src="img/uniforme.png" alt="Uniforme" id="uniforme">
                    
                    <div class="favoritar">
    
                    </div>
    
                    <div class="base-produto-1">
                        <p class="nome-produto">Uniforme</p>
    
                        <div class="avaliacao">
                            <img src="img/avaliacao.png" alt="avalizaçao" id="avaliacao">
                            (1423)
                        </div>
                        <p class="preco-produto">R$89,90</p>
                    </div>
                </section>
            </div>
        </div>

        <div class="dois">

            <div class="produto-1">
                <section>
                    <img src="img/uniforme.png" alt="Uniforme" id="uniforme">
                    
                    <div class="favoritar">
    
                    </div>
    
                    <div class="base-produto-1">
                        <p class="nome-produto">Uniforme</p>
    
                        <div class="avaliacao">
                            <img src="img/avaliacao.png" alt="avalizaçao" id="avaliacao">
                            (1423)
                        </div>
                        <p class="preco-produto">R$89,90</p>
                    </div>
                </section>
            </div>
        </div>

            
        </div>

        <h4 id="txt">Materiais</h4>

        <div class="sequencia">

            <div class="um">

                <div class="produto-1">
                    <section>
                        <img src="img/lapis.png" alt="Uniforme" id="lapis">
                        
                        <div class="favoritar">
        
                        </div>
        
                        <div class="base-produto-1">
                            <p class="nome-produto">Pacote lapís Faber Castel</p>
        
                            <div class="avaliacao">
                                <img src="img/avaliacao.png" alt="avalizaçao" id="avaliacao">
                                (1423)
                            </div>
                            <p class="preco-produto">R$12,90</p>
                        </div>
                    </section>
                </div>
            </div>
    
            <div class="dois">
    
                <div class="produto-1">
                    <section>
                        <img src="img/lapis.png" alt="Uniforme" id="lapis">
                        
                        <div class="favoritar">
        
                        </div>
        
                        <div class="base-produto-1">
                            <p class="nome-produto">Pacote lapís Faber Castel</p>
        
                            <div class="avaliacao">
                                <img src="img/avaliacao.png" alt="avalizaçao" id="avaliacao">
                                (1423)
                            </div>
                            <p class="preco-produto">R$12,90</p>
                        </div>
                    </section>
                </div>
            </div>

        </div>

        <h4 id="txt">Utensílios</h4>

        <div class="sequencia">

            <div class="um">

                <div class="produto-1">
                    <section>
                        <img src="img/uniforme.png" alt="Uniforme" id="uniforme">
                        
                        <div class="favoritar">
        
                        </div>
        
                        <div class="base-produto-1">
                            <p class="nome-produto">Uniforme</p>
        
                            <div class="avaliacao">
                                <img src="img/avaliacao.png" alt="avalizaçao" id="avaliacao">
                                (1423)
                            </div>
                            <p class="preco-produto">R$89,90</p>
                        </div>
                    </section>
                </div>
            </div>
    
            <div class="dois">
    
                <div class="produto-1">
                    <section>
                        <img src="img/uniforme.png" alt="Uniforme" id="uniforme">
                        
                        <div class="favoritar">
        
                        </div>
        
                        <div class="base-produto-1">
                            <p class="nome-produto">Uniforme</p>
        
                            <div class="avaliacao">
                                <img src="img/avaliacao.png" alt="avalizaçao" id="avaliacao">
                                (1423)
                            </div>
                            <p class="preco-produto">R$89,90</p>
                        </div>
                    </section>
                </div>
            </div>

        </div>

    </div>

        <br>

        <hr id="linha">

    <div class="oq-athena">

        <div class="txt-athena">
            <h1 id="txt-athena">O que é a Athena Shop?</h1>
        </div>

        <p id="explicacao">Somos um grupo que buscamos viabilizar a venda de utensílios escolares. Evitando atrasos e agilizando as entregas!</p>

        <div class="info">

            <div class="cx-atendimento">

                <img src="img/conversando.png" alt="balao" id="balao-icon">

                <h4 id="txt-atendimento">Atendimento</h4>

                <p id="txt-atendimento-1">Atendimento rapido e acessivel para todos! garantia e segurança na sua compra </p>

            </div>

            <div class="cx-entregas">
                <img src="img/truck.png" alt="caminhao" id="truck">

                <h4 id="txt-entregas">Entregas</h4>

                <p id="txt-entregas-1">As entregas serão feitas pelos correios nacionais, e devem ser enviadas pelo vendedor</p>

            </div>
        
            <div class="cx-produto">

                <img src="img/box.png" alt="caixa" id="box-icon">

                <h4 id="txt-produto">Produto</h4>

                <p id="txt-produto-1">Produtos da melhor qualidade, e variedades para atender a todo publico</p>

            </div>

        </div>

    </div>
        <br>

    </main>
    <footer>

        <br>

        <hr id="linha-f">

        <a href="">
            <h2>Sobre nós</h2>
        </a>

        <a href="">
            <h2>Política de privacidade</h2>
        </a>

        <a href="">
            <h2>Termos e condições</h2>
        </a>

        <a href="">
            <h2>Contato ao suporte</h2>
        </a>

        <br>

        <hr id="linha-f">

            <a href="">
                <img src="img/instagram.png" alt="instagram" id="icon-f">
            </a>

            <a href="">
                <img src="img/twitter.png" alt="twitter" id="icon-f">
            </a>

            <a href="">
                <img src="img/facebook-icon.png" alt="facebook" id="icon-f">
            </a>
    </footer>
</body>
</html>