<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Athena Shop - home</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styleindex.css">
</head>
<body class="container">
    <header>
        <a href="login">
            <img src="img/logoathenapreta.png" alt="logo-athena">
        </a>
        <input type="button" value="" id="compras">
        <input type="button" value="" id="menu">  
        <div id="divBusca">
            <img src="" alt="Buscar..."/>
            <input type="text" id="txtBusca" placeholder="Procurando alguma coisa?" />
            <input type="button" id="buscar" value=""> 
          </div>
          
          
        <nav id="navegacao">
            <input type="button" value="Para você" id="navb">
            <input type="button" value="Uniformes" id="navb">
            <input type="button" value="Materiais" id="navb">
            <input type="button" value="Ultensílios" id="navb">
        </nav>
    </header>
    <main>

        <div class="destaques">
            <img src="" alt="">
            <h1>Destaques</h1>
            <p>Relogio Caro</p>
        </div>
        
        <div class="descobertas">
            <img src="" alt="">
            <h1>Descobertas</h1>
            <h4>Uniformes</h4>
            <p>Uniforme escolar branco</p>
            <p>Uniforme escolar branco</p>


            <div>
                <h4>Materiais</h4>
                <p>Uniforme escolar branco</p>
                <p>Uniforme escolar branco</p>
            </div>

            <div>
                <h4>Utensilios</h4>
                <p>Uniforme escolar branco</p>
                <p>Uniforme escolar branco</p>
            </div>

        <h1>O que é a Athena Shop?</h1>
        <p>Somos um grupo que buscamos viabilizar a venda de utensílios escolares. Evitando atrasos e agilizando as entregas!</p>
        <div class="atendimento">
            <img src="iconemsg.png" alt="">
            <h4>Atendimento</h4>
            <p>Atendimento rapido e acessivel para todos! garantia e segurança na sua compra </p>
        </div>

        <div class="entregas">
            <img src="iconemsg.png" alt="">
            <h4>Entregas</h4>
            <p>Tera um sistema de entrega especializado para acelerar o recebimento do pedido </p>
        </div>

        <div class="produto">
            <img src="iconemsg.png" alt="">
            <h4>Produto</h4>
            <p>Produtos na melhor qualidade possivel, variedades para atender a todo publico</p>
        </div>


    </main>
    <footer>
        <div>
            <h4>Sobre nós</h4>
            <a href=""> <h4>Politica de privacidade</h4> </a>
            <a href=""> <h4>Termos e condições</h4> </a>
            <a href=""> <h4>Contato</h4> </a>
            <a href=""> <h4>Confira nossas redes sociais</h4> </a>
            <img src="" alt="iconeinstaaqui">
            <img src="" alt="iconefaceaqui">
        </div>
    </footer>
</body>
</html>