<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Athena Shop - home</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styleindex.css">
</head>
<body>
    <header>

    <div class="logo-menu">

        <a href="login">
            <img src="img/logo_preta.png" alt="logo-athena" id="logo-athena">
        </a>

        <div class="menus">
            <button id="carrinho">
                
            </button>

            <button id="menu">
            </button>
        </div>
    </div>

        <div class="div-busca">

            <input type="text" id="txtbusca" placeholder="Procurando alguma coisa?" />
            
            <button class="pesquisar">

            </button>
        </div>
          
    <div class="categorias">
        
        <nav id="navegacao">

                <input type="button" value="Para você" id="navb">

                <input type="button" value="Uniformes" id="navb">

                <input type="button" value="Materiais" id="navb">

                <input type="button" value="Ultensílios" id="navb">

        </nav>
    </div>

    </header>
    <main>
        <h2>Destaques</h2>
        <div class="Produto">
            <img src="" alt="">
            <p>Relógio caro</p>
            <p>R$119,90</p>
        </div>
        <div class="Produto2">
            <img src="Mochila_preta.png" alt="">
            <p>Mochila preta de exemplo</p>
            <p>R$119,90</p>
        </div>
        <div class="Produto3">
            <img src="Mochila_preta.png" alt="">
            <p>Mochila preta de exemplo</p>
            <p>R$119,90</p>
        </div>
        <div class="Produto4">
            <img src="Mochila_preta.png" alt="">
            <p>Mochila preta de exemplo</p>
            <p>R$119,90</p>
        </div>
        <h2>Descobertas</h2>
        <h4>Uniformes</h4>
        <div>
            <img src="" alt="">
            <p>Uniforme Escolar Branco</p>
            <p>R$95,00</p>
        </div>
        <div>
            <img src="" alt="">
            <p>Uniforme Escolar Preto</p>
            <p>R$97,00</p>
        </div>
        <div>
            <img src="" alt="">
            <p>Uniforme Escolar Azul </p>
            <p>R$92,00</p>
        </div>
        <div>
            <img src="" alt="">
            <p>Uniforme Escolar Cinza</p>
            <p>R$85,00</p>
        </div>
        <h4>Materiais</h4>
        <div>
            <img src="" alt="">
            <p>Lápis Grafite Faber Castell</p>
            <p>R$2,50</p>
        </div>
        <div>
            <img src="" alt="">
            <p>Lápis de Cor Faber Castell</p>
            <p>R$15,00</p>
        </div>
        <div>
            <img src="" alt="">
            <p>Borracha</p>
            <p>R$0,90</p>
        </div>
        <div>
            <img src="" alt="">
            <p>Apontador</p>
            <p>R$1,50</p>
        </div>
        <h4>Uténsilios</h4>
        <div>
            <img src="" alt="">
            <p>Estojo Preto</p>
            <p>R$35,90</p>
        </div>
        <div>
            <img src="" alt="">
            <p>Estojo Azul</p>
            <p>R$45,00</p>
        </div>
        <div>
            <img src="" alt="">
            <p>Compasso</p>
            <p>R$8,90</p>
        </div>
        <div>
            <img src="" alt="">
            <p>Caneta Corretivo</p>
            <p>R$12,90</p>
        </div>
        <br>
        <h1>O que é a Athena Shop?</h1>
        <p>Somos um grupo que buscamos viabilizar a venda de utensílios escolares. Evitando atrasos e agilizando as entregas!</p>
        <div class="atendimento">
            <img src="iconemsg.png" alt="">
            <h4>Atendimento</h4>
            <p>Atendimento rapido e acessivel para todos! garantia e segurança na sua compra </p>
        </div>

        <div class="entregas">
            <img src="" alt="">
            <h4>Entregas</h4>
            <p>Tera um sistema de entrega especializado para acelerar o recebimento do pedido</p>
        </div>
        
        <div class="produto">
            <img src="" alt="">
            <h4>Produto</h4>
            <p>Produtos na melhor qualidade possivel, variedades para atender a todo publico</p>

        </div>
        <br>
    </main>
    <footer>
        <br>
        <div>
            <h4>Inserir copyright quando nós tivermos kkk</h4>
            <a href=""> <h4>Contato suporte</h4> </a>
            <a href=""> <h4>Sobre Nós</h4> </a>
            <a href=""> <h4>Termos e condições</h4> </a>
            <a href=""> <h4>Ajuda</h4> </a>
            <a href=""> <h4>Fornecedores</h4> </a>
        </div>
        <br>
        <h5>Confira nossas redes sociais</h5>
        <img src="facebook.png" alt="">
        <img src="" alt="">
    </footer>
</body>
</html>