<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Area Login</title>
    <link rel="stylesheet" type="" href="css/stylelogin.css" media="screen" />
    <link rel="stylesheet" href="css/reset.css">
    <meta name="theme-color" content="#181818">
    
</head>
<body>
    <header>

    <div class="container">

            <img src="img/logoathenapreta.png" alt="logo athena" id="logoathena">
    </header>
    <main>
        
        <div class="area-login">
                <h2 class="texto">Login</h2>
                <form method="post" action="/login">

            <div class="email">
                <input type="text" id="escrita" value="E-mail" onfocus="this.value='';">
                <label for="E-mail"></label>
            </div>

                <div class="senha">
                
                    <input type="text" id="escrita" value="Senha" onfocus="this.value='';">
                    <label for="Senha"></label>
                </div>
                
                <div class="termos">
                    <input type="checkbox" id="box">
                    <h6>Lembrar Senha</h6>
                </div>
            
                <a href="index">
                <input type="submit" value="Entrar" id="entrar">
                </a>
            </form>
        </div>

    </div>

    <div class="icones">
            <div class="google">
                <img src="img/google.png" alt="logo-google" id="google">
                Google
             </div>

                <div class="facebook">
                    <img src="img/facebook.png" alt="logo-facebook" id="facebook">
                    Facebook
                </div>
            
    </div>

                <div class="cadastrar">
                    <a href="cadastro">
                        <input type="button" value="Cadastrar-se" id="cadastrar">
                    </a>
            </div>

    </main>
</body>
</html>
