<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Athena Shop - home</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/stylelogin.css">

</head>

<body>
    <header>

    <div class="container">

            <img src="img/logo_preta.png" alt="logo athena" id="logo-athena">
    
    </header>
    <main>

        <div class="area-login">   
            
                <h2 id="txt-login">Login</h2>
                <form method="post" action="/login">

            <div class="email">
                <input type="text" id="escrita" value="E-mail" onfocus="this.value='';">
                <label for="E-mail"></label>
            </div>

                <div class="senha">
                
                    <input type="text" id="escrita" value="Senha" onfocus="this.value='';">
                    <label for="Senha"></label>
                </div>
                
                <div class="termos">
                    <input type="checkbox" id="box">
                    <h2 id="senha-termos">Lembrar Senha</h2>
                </div>
            
                <a href="index">
                <input type="submit" value="Entrar" id="entrar">
                </a>
            </form>
        </div>

    </div>

    <div class="icones">
            <div class="google">
                <img src="img/google.png" alt="logo-google" id="google">
                Google
             </div>

                <div class="facebook">
                    <img src="img/facebook.png" alt="logo-facebook" id="facebook">
                    Facebook
                </div>
        
    </div>

                    <div class="cadastrar">
                    <a href="cadastro">
                        <input type="button" value="Cadastrar" id="cadastrar">
                    </a>
                    </div>
    

    </main>
</body>
</html>