<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/stylemenu.css">
</head>
<body>
    <header>
        <input type="button" value="" id="voltar">
        <img src="Usua.png" alt="">
        <h2>Seu Usuário</h2>
        <a href=""> <h5>Acessar Perfil</h5> </a>
    </header>
    <main>
        <div>
            <img src="Casa.png" alt="">
            <p>Início</p>
        </div>
        <div>
            <img src="Lupa.png" alt="">
            <p>Buscar</p>
        </div>
        <div>
            <img src="Sino.png" alt="">
            <p>Notificação</p>
        </div>
        <div>
            <img src="" alt="">
            <p>Carteira</p>
        </div>
        <div>
            <img src="" alt="">
            <p>Ajuda</p>
        </div>
        <div>
            <img src="Engrenagem.png" alt="">
            <p>Configurações</p>
        </div>
    </main>
</body>
</html>