<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usúario</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styleperfil.css">
</head>
<body>
    <header>
        <input type="button" value="" id="voltar">
        <h1>Seu Perfil</h1>
        <input type="button" value="" id="menu">
        <img src="" alt="">
        <img src="" alt="">
        <p>Seu nome</p>
    </header>
    <main>
        <div>
            <img src="" alt="">
            <h4>Minhas compras</h4>
            <h5>Ver histórico de compras</h5>
            <br><hr>
            <img src="" alt="">
            <p>A pagar</p>
            <img src="" alt="">
            <p>Preparando</p>
            <img src="" alt="">
            <p>A caminho</p>
            <img src="" alt="">
            <p>Avaliar</p>
        </div>
        <div>
            <img src="" alt="">
            <h3>Favoritados</h3>
            <h5>Ver produtos favoritados</h5>
            <br><hr>
            <div>
                <img src="" alt="">
                <img src="" alt="">
                <h3>Relógio caro</h3>
                <p>R$119,90</p>
            </div>
        </div>
    </main>
</body>
</html>