<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto - nome do Produto</title>
    <link rel="stylesheet" href="css/styleproduto.css">
</head>
<body>
    <header>
        <div class="voltar">
            <a href="index">
                <input type="button" value="">
                <img src="img/Mochla_preta.png" alt="setinha voltar">
            </a>
        </div>
        <div class="menu">
            <a href="">
                <input type="button" value="">
                <img src="" alt="menu">
            </a>
        </div>
    </header>
    <main>
        <div></div>
        <img src="" alt="mochila">
        <hr>
        <section>
            <article>
                <h2 class="mochila">Mochila preta</h2>
                <div>
                    <h3 class="valor">R$150</h3>
                </div>
                <p>Mochila preta de exemplo feita de tecido de couro de mais<br> 
                alta qualidade, vinda da malasia, passada por jerusalem, mossambique, estados unidos,<br> 
                e venezuela (que fez o presso cair)</p>
                <h6>Por: Fornecedor</h6>
                <h4>Notas do Produto</h4>
                <div></div>
            </article>
        </section>
        <nav>
            <div class="comentarios">
                <h3>comentarios</h3>
                <input type="button" value="">
            </div>
            <div class="sobre">
                <h3>Sobre</h3>
                <input type="button" value="">
            </div>
            <div class="chat">
                <h3>Chat</h3>
                <input type="button" value="">
            </div>
        </nav>
        <div class="carrossel-sugestoes">
            <h3>Uniformes</h3>
            <img src="" alt="fundo-uniformes">
            <div class="camiseta">
                <div></div>
                <h3>R$100</h3>
                <img src="" alt="camiseta">
            </div>
            <div class="camiseta">
                <div></div>
                <h3>R$100</h3>
                <img src="" alt="camiseta">
            </div>
            <div class="camiseta">
                <div></div>
                <h3>R$100</h3>
                <img src="" alt="camiseta">
            </div>
            <div class="camiseta">
                <div></div>
                <h3>R$100</h3>
                <img src="" alt="camiseta">
            </div>
            <div class="camiseta">
                <div></div>
                <h3>R$100</h3>
                <img src="" alt="camiseta">
            </div>
            <div class="camiseta">
                <div></div>
                <h3>R$100</h3>
                <img src="" alt="camiseta">
            </div>
        </div>
    </main>
</body>
</html>